.title{
  height: 25%
}
.title_w{
  font-size: 1cm;
}
.order-new{
  margin-left: 30%;
  // border: 1px solid green;
  font-size: 0.8cm;

}
.list{
  margin-top: 33%;
  width: 86%;
  position:absolute;
  left: 7%;
  // border: 2px solid green;
}
.kuku{
  font-size:0.5cm;
  width: 20px;
}
.list-word{
  font-size: 0.6cm;
}
.date-w{
  font-size: 0.6cm;
}
.little-control{
  // border: 1px solid blue;
  width:50%;
  float: right;
}
.little-control li{
  margin:0px;
  margin-right: 0px;
  // border: 1px solid red;
  font-size: 0cm;
}
.little-control li span{
  font-size: 1cm;
}
//form
.input{
  margin-top: 33%;
  font-size: 0.6cm;
}
.size{
  font-size: 0.5cm;
  padding: 5px;
}
.b-size{
  font-size: 0.5cm;
}
